

.iphone_large_gallery {
	height: 100%;
}

.iphone_small_gallery {
	display: flex;
	flex-direction: column;
}

.iphone_small_gallery_animation {
	display: flex;
	flex-direction: row;
}

.iphone_large_gallery_image {
	position: absolute;
	right: 10%;
	height: 628px;
	width: 330px;
}

.iphone_small_gallery_image {
	height: 120px;
	width: 60px;
	padding: 10px;
}