.navheader_container {
	height: 10vh;
	width: 100vw;
	background-color: black;
	/* position: absolute; */
	margin-top: -9vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navheader_link_container {
	height: 10vh;
	width: 95vw;
	background-color: white;
}

.navheader_container.slide_down {
	margin-top: 0;
	transition: all 2s;
}

.navheader_logo {
	width: 100px;
	height: 100px;
}
